.letters_welcome {
    text-align: center;
}

.letters_welcome h1 {
    font-size: 32px;
    font-weight: 400;
    line-height: 36.22px;
}

.letters_contra {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: end;
}

.letters_contra p{
    font-size: 10px;
    color: #9D9D9D;
    font-weight: 400;
    line-height: 9.05px;
    margin-right: 30px;
}

.button_inicio_sesion Button{
    background-color: #7C9DFF;
    border: none;
    width: 240px;
    height: 30px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 12.45px;
}